
#resource-title {
    text-align: center;
    margin: 40px;
    padding-bottom: 30px;
    background: linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    .resource-row {
      margin-top: 30px;
      margin-left: 20px;
    }
    
    .resource-img {
      width: 50%;
      height: 50%;
      border-radius: 3px;
      margin: 15px;
      padding-bottom: 20px;
    }
    
    
    .resource-row a {
      text-decoration: none;
    }

    #project h1 {
      
    }

    #project h3 {
      text-align: center;
      background: linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    #project p {
      color: #ffffffce;
    }