#resource-title {
  text-align: center;
  margin: 40px;
  padding: 30px;
  background: linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resource-row {
  margin: auto;
}

/* Align h1 to center */
#resource-title {
  text-align: center;
}

.resource-img {
  width: 100px; /* Set the width of the images */
  height: 100px; /* Set the height of the images */
  object-fit: contain; /* Make the images cover the entire area */
  border-radius: 10px; /* Add a border radius to the images */
  display: block; /* Make the image a block element */
  margin: 10px auto; /* Add margin top and bottom, and center horizontally */
}



.resource-row a {
  text-decoration: none;
}

.resource-row h3 {
  text-align: center;
  padding-bottom: 20px;
  background: linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resource-row p {
  color: #010101;
  margin-top: 20px;
  text-align: center;
}