
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    background: linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 3em; 
    margin-bottom: 20px; 
}


h2 {
    text-align: center;
    background: linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

p {
    text-align: center;  
    line-height: 1.6; /* Improve readability */
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.team-member {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px white;
}

.team-member img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.team-member-info {
    padding: 15px;
    text-align: center; 
}

.team-member-info h2 {
    margin: 0;
    color: #333;
}

.team-member-info p {
    margin: 5px 0;
    color: #666;
}

.team-member-info a {
    display: inline-block;
    margin-top: 5px;
    color: #0077b5; 
    text-decoration: none;
    margin: 0 10px; 
}

.team-member-info a i {
    margin-right: 5px; 
}

.team-member-info a:hover {
    text-decoration: underline;
}

.about-section {
    background-color: white; /* Ensure the section background is white */
    padding: 40px 0; /* Add some padding for spacing */
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.team-member {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


